[submodule "thirdparty/libmicrohttpd"]
	path = thirdparty/libmicrohttpd
	url = https://gnunet.org/git/libmicrohttpd.git
[submodule "thirdparty/enet"]
	path = thirdparty/enet
	url = https://github.com/lsalzman/enet.git
[submodule "thirdparty/cereal"]
	path = thirdparty/cereal
	url = https://github.com/USCiLab/cereal.git
